@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4{
    font-family: 'Limelight', cursive;
}

nav{

    font-family: 'Limelight', cursive; 
    color: #ccc;
}

.divider{
    width: 80%;
    height:1px;
    background-color:#a75d54;
    margin:auto;
}

.homeSection{
    width: 100%;
    min-height: 80vh;
}

.boldIt{
    font-weight: 600;
    color:#a75d54;
}

.aboutText p{
    margin-bottom: 2rem;
}